<div class="container"> 
  <div class="topcontent">
    
    <h4 class ="tophead mb-3 fw-bold">・Pick Up</h4>
    
    <div class="slider rounded">
      <% @animes_pickup2.each do |anime| %>
        <div class="slider-a d-flex justify-content-center">
          <%= link_to image_tag(anime.img1.to_s, size: '211x300'), anime_path(anime.id) %>
        </div>
      <% end %>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    <script type="text/javascript">
      $(function(){
        $('.slider').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          dots: true,
          pauseOnHover: false,
          autoplay: true,
          autoplaySpeed: 1800,
          arrows: false,
        });
      });
    </script>
  </div>
  
  <div class="wrapper">
    
    <div class="main">
      
      <h4 class="mainhead fw-bold">・This Season</h4>
      
      <div class="maincontent"> 
      
        <div class="scroll overflow-auto">
          <% @animes_season2.each do |anime| %>
            <div class="scroll-content">
              <%= link_to image_tag(anime.img2.to_s, size: '356x200'), anime_path(anime.id) %>
            </div>
          <% end %>
        </div>
        
      </div>
    </div>
    
    <div class="sidebar">
      <h4 class="sidehead1 fw-bold">・Search</h4>
      <div class="sidecontent rounded">
        
        <div class="sidecontent1a">
          <p>検索</p>
        </div>
        
        <div class="sidecontent1b">
          <%= link_to '作品一覧', animes_path %>
        </div>
        
      </div>
      
      <% if logged_in? && current_user.admin? %>
        <h4 class="sidehead2 fw-bold">・Admin</h4>
        <div class="sidecontent2 rounded">
          <ul>
            <li class="list-unstyled mb-4"><%= link_to '作品一覧', "admin/animes" %></li>
            <li class="list-unstyled"><%= link_to '新規投稿', "admin/animes/new" %></li>
          </ul>
        </div>
      <% else %>
        <div class="sideimg">
          <img src="../../assets/ジブリ.jpg" alt="画像" height="390px">
        </div>
      <% end %>
      
    </div>
    
  </div>
</div>
<footer>
  <div id="footer_navi">
    <ul>
      <li><%= link_to 'お問い合わせ', "contacts/new" %></li>
      <li>退会</li>
    </ul>
  </div>
</footer>
