<div class="container">
  <div class="row">
    
    
    <div class="col-lg-8 offset-lg-2 mt-3">
  
      
      
        
      <%= form_with model: @tip, local: true do |f| %>
      <div class="row">  
      
        <div class="col-4">
          <div class="text-center my-4">
              <%= image_tag(@anime.img1.to_s, size: '141x200') %>
          </div>
        </div>
        
        <div class="col-8">
          <div class="mt-5 mb-4">
            <%= f.label :title, '作品タイトル' %>
            <%= f.text_field :title, readonly: true, class: 'form-control' %>
          </div>
    
          <div class="mb-5">
            <%= f.label :company, '制作会社' %>
            <%= f.text_field :company, readonly: true, class: 'form-control' %>
          </div>
        </div>
        
      </div>
      
        <div class="my-5">
          <%= f.label :money, '　チップ額（円）' %>
          <%= f.text_field :money, class: 'form-control no-spin', placeholder:"300円以上(半角数字）" %>
        </div>
  
        <%= f.submit 'チップを送る', class: 'btn btn-success w-100 mb-5' %>
      <% end %>
        
        
       
      
        
      
    </div>
    
  </div>
</div>